{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
        // "allowImportExportEverywhere": true
    },
    "parserOptions": {
        "ecmaVersion": "latest", // Allows the use of modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
    },
    // "parserOptions": {
    //     // "sourceType": "module",
    //     "allowImportExportEverywhere": true
    // },
    "extends": [
        "eslint:recommended"
        // "plugin:userscripts/recommended"
    ]
}
