name: PR check
on: pull_request

jobs:
    tests:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Setup NodeJS
              run: sudo snap install node --channel=16/stable --classic
            - name: Install project dependencies
              run: yarn
            - name: Run tests
              run: yarn test
